@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
#Name4001 {
  color: rgb(14, 9, 9);
  font-weight: 550;
  
}

#namestore_4001 {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.TotalScore_4001 {
  color: #eb2626;
}

.table_4001 {
  thead {
    background-color: #007bff;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    th {
      &.text-center {
        text-align: center;
      }
    }
  }
  tbody {
    td {
      &.text-center {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 13px;
      }
    }
  }
}

.search-container-4001 {
  padding: 10px 10px 10px 0px;
}

.container_avg_magin_top {
  margin-top: 10px;
}

.c-dashboardInfo .wrap {
  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.c-dashboardInfo__title,
.c-dashboardInfo__subInfo {
  color: #6c6c6c;
  font-size: 1.18em;
  margin: 1em 0 0 0;
}

.c-dashboardInfo span {
  display: block;
}

.c-dashboardInfo__count {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 4em;
  color: #323c43;
}

.c-dashboardInfo .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.c-dashboardInfo:nth-child(1) .wrap:after {
  background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
}

.c-dashboardInfo:nth-child(2) .wrap:after {
  background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
}

.c-dashboardInfo:nth-child(3) .wrap:after {
  background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}

.c-dashboardInfo:nth-child(4) .wrap:after {
  background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
}

.c-dashboardInfo__title svg {
  color: #d7d7d7;
  margin-left: 5px;
}

.MuiSvgIcon-root-19 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 80ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}

.container_doashboar_4001 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}



.first {
  padding: 0;
}

.doghnutChartGroup {
  margin: 10px;
  width: 20px;
}

.doghnutChartGroup .circular-progress {
  background: linear-gradient(90deg, #E0E0E0 50%, transparent 50%, transparent),
  linear-gradient(126deg, #FF70A6 50%, #E0E0E0 50%, #E0E0E0);
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 12em;
  margin: 2em auto;
  position: relative;
  min-width: 12em;
  margin: 1em;
  transition: background .5s 0.3s;
}

.doghnutChartGroup .circular-progress::before {
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
  content: attr(data-text);
  font-size: 4em;
  font-weight: bold;
  height: 100%;
  left: 0;
  line-height: 3em;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transform: scale(0.87);
  transform: scale(0.87);
  width: 100%;
}

.doghnutChartGroup .circular-progress:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.35);
}

.doghnutChartGroup .circular-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

@keyframes turning_cw {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* New CSS for Flexbox */
.container_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.container_avg, .container_car {
  flex: 1 1 50%;
  padding: 10px;

}
.container_car
{
  display: flex;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 600px;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}
.container_avg
{
  padding: 0 0 0 10px;
}
.magin_left
{
 padding-left: 10px;
}
.withdraw-button {
  background-color: rgb(250, 228, 29);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #292727;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
  .withdraw-button:hover {
    box-shadow: 0 1px 3px rgb(255, 255, 255), 0 1px 2px rgb(255, 255, 255);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
}

.card-image img {
  max-width: 300px;
  height: auto;
}
//zzzzz
.card-content
{
  z-index: 1;
}
.MuiSvgIcon-root-19 {
  width: 24px;
  height: 24px;
  fill: currentColor; /* Đảm bảo biểu tượng nhận màu từ văn bản */
  margin-left: 8px; /* Khoảng cách giữa văn bản và biểu tượng */
  vertical-align: middle; /* Căn giữa biểu tượng theo chiều dọc */
  fill: #007bff;
}
.heading:hover .MuiSvgIcon-root-19 {
  fill: #007bff; /* Thay đổi màu khi hover, ví dụ: màu xanh dương */
  transition: fill 0.3s ease; /* Hiệu ứng chuyển màu mượt mà */
}
.line-chart-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px #D7D7D7;
  margin: 10px auto;
  position: relative;
}
.form-search {
  font: bold 12px sans-serif;
  position: relative;
  max-width: 60%;
  display: flex; /* Sử dụng flexbox để canh hàng các phần tử */
  align-items: center; /* Canh giữa theo trục ngang */
}

.form-search input {
  width: 60%;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  border: 1px solid #b6c3cd;
  border-right: 0;
  color: #4E565C;
  outline: none;
  margin-right: 0; /* Đảm bảo không có khoảng cách giữa input và button */
}

.form-search button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #007bff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border: 1px solid #007bff;
}

.form-search button.btn_reset {
  margin-left: 10px; /* Cách nút tìm kiếm 10px */
}

.clear-btn {
  position: absolute;
  right: 100px; /* Điều chỉnh vị trí nút xóa */
  font-size: 20px;
  cursor: pointer;
  color: #999;
  user-select: none; /* Ngăn chặn người dùng chọn văn bản */
}

.clear-btn:hover {
  color: #333;
}

.form-search i {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 16px;
  color: #80A3BD;
}
.btn_listStore {
  display: inline-block; /* Để nút hiển thị theo dòng */
  margin-left: 10px; /* Khoảng cách bên trái với văn bản */
  color: #0056b3; /* Màu chữ */
  border: none; /* Bỏ viền của nút */
  border-radius: 4px; /* Bo góc */
  cursor: pointer; /* Con trỏ khi hover */
  font-size: 13px; /* Kích thước chữ */
  font-weight: bold; /* Độ đậm của chữ */
  background-color: transparent;
  text-decoration: underline;
}
.nameCard
{
  font-weight: 550;
  font-size: 14px;
  color: rgb(81, 70, 70);
}
.select {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.select label {
  font-size: 14px;
  font-weight: bold;
}

.select select {
  padding: 4px;
  padding-bottom: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
  appearance: none; /* Loại bỏ mũi tên mặc định của trình duyệt */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 7em; /* Điều chỉnh chiều rộng theo nhu cầu */
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}

.select select:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.select select option {
  padding: 5px;
}



