<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Force to www
	RewriteCond %{HTTP_HOST} !^$
	RewriteCond %{HTTP_HOST} ^phankhangco.local [NC]
	RewriteCond %{HTTPS}s ^on(s)|
	RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # All to public
    #RewriteRule ^(.*)$ /public/index.php/$1 [L]
    RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>
