<section class="content-header">
  <h1>Suppliers <small>Supplier Management</small></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a ui-sref="app.supplierlist">Supplier Lists</a></li>
    <li class="active">Add New Supplier</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add New Supplier</h3>
        </div>
        <form class="form-horizontal" name="form" ng-submit="vm.save(form.$valid, form)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && ( vm.formSubmitted || form.name.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.name" name="name" placeholder="Name" required>
                <p ng-show="form.name.$error.required && ( vm.formSubmitted || form.name.$touched)" class="help-block">Name is required.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.short_name.$invalid && ( vm.formSubmitted || form.short_name.$touched) }">
              <label for="inputPassword3" class="col-sm-2 control-label">Short name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.short_name" name="short_name" placeholder="Slug" required>
                <p ng-show="form.short_name.$error.required && ( vm.formSubmitted || form.short_name.$touched)" class="help-block">Short name is required.</p>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <a ui-sref="app.supplierlist" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
            <button type="submit" class="btn btn-primary pull-right">Add New</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
