<div class="login-box">
    <div class="login-logo">
        <a ui-sref="login"><b>Phan Khang Home</b> Portal</a>
    </div>
    <div class="login-box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h3>Sign in</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <login-form></login-form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                Copyright &copy; 2016 <strong><a href="http://www.phankhangco.com">Phan Khang Home</a>.</strong> All rights reserved.
            </div>
        </div>
    </div>
</div>