.list-categories {
    margin-top: 10px;
    text-align: center;

    .header-text {
        margin-top: 15px;
        margin-bottom: 10px;
        color: $base-color;
        font-size: large;
        font-weight: bold;
    }
}