#contact-form {
    .form-group {
        textarea {
            width: 100%;
        }
    }
}

.contact-page {
    h5 {
        line-height: 40px;
        border: 1px solid #111;
        font-weight: bold;
        margin-top: 10px;
    }

    .btn-detail {
        background-color: #fff;
    }

    .form-group {
        input {
            width: 100%;
        }
    }
}