@font-face {
    font-family: AdobeFnt16;
    src: url(/frontend/theme2/fonts/AdobeFnt16.lst);
}

@font-face {
    font-family: MyriadPro;
    src: url(/frontend/theme2/fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: MyriadPro;
    src: url(/frontend/theme2/fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: SFUFuturaBook;
    src: url(/frontend/theme2/fonts/SFUFuturaBook.TTF);
}

@font-face {
    font-family: SFUFuturaLight;
    src: url(/frontend/theme2/fonts/SFUFuturaLight.TTF);
}

@font-face {
    font-family: SFUFuturaRegular;
    src: url(/frontend/theme2/fonts/SFUFuturaRegular.TTF);
}