body {
	font-size: 13px;
    line-height: 25px;
    text-shadow: none !important;
    color: #444;
}

h2.title {
	font-weight: normal;
    color: #666;
    margin: 3px 0px; 
    padding: 3px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: normal;
    color: #666;
    margin: 3px 0px;
    padding: 3px 0px;
}