

md-toast[md-theme=warn] .md-toast-content {
  background-color: #F44336;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
  transition: opacity ease-in-out 200ms;
}

[ui-view].ng-enter,
[ui-view].ng-leave.ng-leave-active {
  opacity: 0;
}

[ui-view].ng-enter.ng-enter-active {
  opacity: 1;
}

.Page.ng-leave.ng-leave-active {
  display: none;
}

.u-center {
  text-align: center;
}

label.required:after {
  content: " (*)";
  color: red;
}

.img-thumb-product {
  max-width: 50px;
  max-height: 50px;
}

.img-thumb-description {
  display: block;
  max-width: 50px;
}

.img-thumb-product-2x {
  max-width: 100px;
  max-height: 100px;
}

.img-thumb-description-2x {
  display: block;
  max-width: 100px;
}

.img-preview {
  max-width: 240px;
  max-height: 240px;
}

.m-l {
  margin-left: 5px;
}

.col-no {
  width: 50px;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.modal-dialog-768 {
  width: 768px;
}

.modal-dialog-1024 {
  width: 1024px;
}

tr.row {
  border-left: 5px solid transparent;
}

tr.row-success {
  border-left: 5px solid #00a65a;
}

tr.row-primary {
  border-left: 5px solid #3c8dbc;
}

tr.row-warning {
  border-left: 5px solid #f39c12;
}

tr.row-default {
  border-left: 5px solid #d2d6de;
}

tr.row-danger {
  border-left: 5px solid #dd4b39;
}

tr.row-info {
  border-left: 5px solid #00c0ef;
}

.w-m-100 {
  max-width: 100px;
}

.help-text {
  font-style: italic;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.text-v-mid {
  vertical-align: middle;
}

.table-fixed-header tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed-header thead,
.table-fixed-header tbody,
.table-fixed-header tr,
.table-fixed-header td,
.table-fixed-header th {
  display: block;
}

.table-fixed-header tbody td,
.table-fixed-header tbody th,
.table-fixed-header thead > tr > th {
  float: left;
  position: relative;
}

.table-fixed-header tbody td::after,
.table-fixed-header tbody th::after,
.table-fixed-header thead > tr > th::after {
  content: '';
  clear: both;
  display: block;
}

.slim-scrollbar::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
}

.slim-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(233, 236, 239, 0.6);
  opacity: .5;
  border-radius: 100px;
  border: 4px solid #fff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(233, 236, 239, 0.6);
  opacity: .5;
}

.btn-min-width {
  min-width: 100px;
}

.table thead th {
  vertical-align: middle;
}

.table-scroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 500px;
}

.table-scroll table {
  width: 100%;
  min-width: 1280px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-scroll thead th {
  background: #ecf0f5;
  position: sticky;
  top: 0;
}

.table-scroll .freeze-col {
  position: sticky;
  z-index: 2;
  background: #ecf0f5;
  left: 0;
}

.table-scroll .freeze-col-header {
  position: sticky;
  z-index: 4;
  left: 0;
}

.pre-format {
  border: 0;
  background-color: transparent;
  padding: 0px;
}

th.sortable {
  cursor: pointer;
}

th.sortable .fa-sort {
  color: #ccc;
}






.cms0210 .img-preview {
  max-width: 240px;
  max-height: 240px;
}

.cms0210 .image-preview-list-small {
  max-width: 168px;
  max-height: 168px;
}











.crm0210 .form-horizontal .form-group {
  margin-bottom: 0px;
}

.crm0210 .form-horizontal .form-control-static {
  min-height: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.crm0210 .form-horizontal label {
  padding-top: 2px;
  padding-bottom: 2px;
}






.crm0300-menu .btn-app {
  min-width: 100px;
}











.crm0410 .form-horizontal .form-group {
  margin-bottom: 0px;
}

.crm0410 .form-horizontal .form-control-static {
  min-height: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.crm0410 .form-horizontal label {
  padding-top: 2px;
  padding-bottom: 2px;
}
















.crm0914 .progress {
  margin-top: 0px;
}



#crm1000 pre {
  border: none;
  background: transparent;
  font-family: monospace;
}





































#crm2510 #imgPreview img {
  max-height: 240px;
}

















@charset "UTF-8";
/* CSS cho các ô td */
.font-weight-bold {
  font-weight: bold;
}

.tr_history th {
  background-color: #007BFF;
  color: white;
}

.total_score_card {
  color: red;
}



@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
#Name4001 {
  color: #0e0909;
  font-weight: 550;
}

#namestore_4001 {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.TotalScore_4001 {
  color: #eb2626;
}

.table_4001 thead {
  background-color: #007bff;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.table_4001 thead th.text-center {
  text-align: center;
}

.table_4001 tbody td.text-center {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.search-container-4001 {
  padding: 10px 10px 10px 0px;
}

.container_avg_magin_top {
  margin-top: 10px;
}

.c-dashboardInfo .wrap {
  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.c-dashboardInfo__title,
.c-dashboardInfo__subInfo {
  color: #6c6c6c;
  font-size: 1.18em;
  margin: 1em 0 0 0;
}

.c-dashboardInfo span {
  display: block;
}

.c-dashboardInfo__count {
  font-weight: 600;
  font-size: 1.3em;
  line-height: 4em;
  color: #323c43;
}

.c-dashboardInfo .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.c-dashboardInfo:nth-child(1) .wrap:after {
  background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
}

.c-dashboardInfo:nth-child(2) .wrap:after {
  background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
}

.c-dashboardInfo:nth-child(3) .wrap:after {
  background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}

.c-dashboardInfo:nth-child(4) .wrap:after {
  background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
}

.c-dashboardInfo__title svg {
  color: #d7d7d7;
  margin-left: 5px;
}

.MuiSvgIcon-root-19 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 80ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-user-select: none;
  user-select: none;
  flex-shrink: 0;
}

.container_doashboar_4001 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.first {
  padding: 0;
}

.doghnutChartGroup {
  margin: 10px;
  width: 20px;
}

.doghnutChartGroup .circular-progress {
  background: linear-gradient(90deg, #E0E0E0 50%, transparent 50%, transparent), linear-gradient(126deg, #FF70A6 50%, #E0E0E0 50%, #E0E0E0);
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 12em;
  margin: 2em auto;
  position: relative;
  min-width: 12em;
  margin: 1em;
  transition: background .5s 0.3s;
}

.doghnutChartGroup .circular-progress::before {
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
  content: attr(data-text);
  font-size: 4em;
  font-weight: bold;
  height: 100%;
  left: 0;
  line-height: 3em;
  position: absolute;
  text-align: center;
  top: 0;
  transform: scale(0.87);
  width: 100%;
}

.doghnutChartGroup .circular-progress:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.35);
}

.doghnutChartGroup .circular-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

@keyframes turning_cw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* New CSS for Flexbox */
.container_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.container_avg, .container_car {
  flex: 1 1 50%;
  padding: 10px;
}

.container_car {
  display: flex;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 600px;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.container_avg {
  padding: 0 0 0 10px;
}

.magin_left {
  padding-left: 10px;
}

.withdraw-button {
  background-color: #fae41d;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #292727;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.withdraw-button:hover {
  box-shadow: 0 1px 3px white, 0 1px 2px white;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
}

.card-image img {
  max-width: 300px;
  height: auto;
}

.card-content {
  z-index: 1;
}

.MuiSvgIcon-root-19 {
  width: 24px;
  height: 24px;
  fill: currentColor;
  /* Đảm bảo biểu tượng nhận màu từ văn bản */
  margin-left: 8px;
  /* Khoảng cách giữa văn bản và biểu tượng */
  vertical-align: middle;
  /* Căn giữa biểu tượng theo chiều dọc */
  fill: #007bff;
}

.heading:hover .MuiSvgIcon-root-19 {
  fill: #007bff;
  /* Thay đổi màu khi hover, ví dụ: màu xanh dương */
  transition: fill 0.3s ease;
  /* Hiệu ứng chuyển màu mượt mà */
}

.line-chart-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px #D7D7D7;
  margin: 10px auto;
  position: relative;
}

.form-search {
  font: bold 12px sans-serif;
  position: relative;
  max-width: 60%;
  display: flex;
  /* Sử dụng flexbox để canh hàng các phần tử */
  align-items: center;
  /* Canh giữa theo trục ngang */
}

.form-search input {
  width: 60%;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  border: 1px solid #b6c3cd;
  border-right: 0;
  color: #4E565C;
  outline: none;
  margin-right: 0;
  /* Đảm bảo không có khoảng cách giữa input và button */
}

.form-search button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #007bff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border: 1px solid #007bff;
}

.form-search button.btn_reset {
  margin-left: 10px;
  /* Cách nút tìm kiếm 10px */
}

.clear-btn {
  position: absolute;
  right: 100px;
  /* Điều chỉnh vị trí nút xóa */
  font-size: 20px;
  cursor: pointer;
  color: #999;
  -webkit-user-select: none;
  user-select: none;
  /* Ngăn chặn người dùng chọn văn bản */
}

.clear-btn:hover {
  color: #333;
}

.form-search i {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 16px;
  color: #80A3BD;
}

.btn_listStore {
  display: inline-block;
  /* Để nút hiển thị theo dòng */
  margin-left: 10px;
  /* Khoảng cách bên trái với văn bản */
  color: #0056b3;
  /* Màu chữ */
  border: none;
  /* Bỏ viền của nút */
  border-radius: 4px;
  /* Bo góc */
  cursor: pointer;
  /* Con trỏ khi hover */
  font-size: 13px;
  /* Kích thước chữ */
  font-weight: bold;
  /* Độ đậm của chữ */
  background-color: transparent;
  text-decoration: underline;
}

.nameCard {
  font-weight: 550;
  font-size: 14px;
  color: #514646;
}

.select {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.select label {
  font-size: 13px;
  font-weight: bold;
}

.select select {
  padding: 4px;
  padding-bottom: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
  background-color: #f9f9f9;
  color: #333;
  appearance: none;
  /* Loại bỏ mũi tên mặc định của trình duyệt */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 7em;
  /* Điều chỉnh chiều rộng theo nhu cầu */
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}

.select select:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.select select option {
  padding: 5px;
}


.das0100 canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}

.das0100 .top-news {
  font-size: 12px;
}

.das0100 .not-read {
  font-weight: bold;
}

.ForgotPassword-input {
  margin-bottom: 0;
}

.hrm0100 .fc-content {
  white-space: normal !important;
}




.hrm0150 .custom-marker {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 24px;
  padding: 2px;
}


.bg-weekend {
  background: #f2dede !important;
}

.bg-holiday {
  background: #ff9898 !important;
}

.hrm0141 .tr-head {
  background-color: #ecf0f5;
}

.hrm0141 .table-wrap {
  position: relative;
}

.hrm0141 .table-scroll thead tr:nth-child(2) th {
  top: 35px;
}

.hrm0141 .table-scroll .freeze-col-2 {
  position: sticky;
  left: 34px;
  z-index: 2;
  background: #ecf0f5;
}



.hrm0153 .btn-checkin, .hrm0153 .btn-checkout {
  height: 100px;
}

























.hrm1020 .not-read {
  font-weight: bold;
}





.hrm1111 .freeze-col-2 {
  left: 38 px;
}

.hrm1111 .freeze-row-2 {
  top: 35px;
}

.hrm1111 .chosen-container-single {
  width: 250px !important;
}



.btn-github:hover {
  color: #fff;
}

.btn-facebook:hover {
  color: #fff;
}

.btn-google:hover {
  color: #fff;
}


@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #333;
  }
}

.main-header .sidebar-toggle,
.main-header .sidebar-toggle:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}


.ResetPassword-input {
  margin-bottom: 0;
}



























.ForgotPassword-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.Footer {
  text-align: center;
  background-color: #F6F9FA;
  border-top: 1px solid #E9F0F3;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #888888;
  font-weight: 300;
}

.Footer-text {
  padding-top: 10px;
  opacity: 0.8;
  color: #888888;
}

.Footer-link {
  text-decoration: none;
  color: #888888 !important;
  font-weight: 400;
}

.Footer-link:hover {
  text-decoration: underline;
}

.Footer-logo {
  width: 49px;
  height: 46px;
}


.Landing {
  height: 100%;
}

.Landing-cover {
  background-image: url("/img/cover.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 700px;
}

.Landing-heading,
.Landing-subtitle {
  color: white;
}

.Landing-headingLight {
  font-weight: 300;
}

.Landing-heading {
  color: white;
  letter-spacing: -3px;
  margin-top: 20px;
  font-size: 60px;
  text-align: center;
}

.Landing-subtitle {
  opacity: 0.7;
  text-align: center;
}

.Landing-getStarted {
  padding: 12px 30px;
  font-weight: bold;
  color: #535362 !important;
  border-radius: 4px;
  text-transform: box-shadow 250ms;
}

.Landing-getStarted:hover {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12) !important;
}

.Landing-laravelAngular {
  position: relative;
}

.Landing-ampersand {
  font-size: 50px;
  color: #00A4C6;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 300;
}

.Landing-angular {
  background-color: #F6F9FA;
  border-left: 1px solid #E9F0F3;
}

.Landing-laravel,
.Landing-angular {
  text-align: center;
  color: #21455B;
  border-bottom: 1px solid #E9F0F3;
}

.Landing-laravelAngular-title {
  padding-top: 30px;
  margin-bottom: 15px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #21455B;
}

.Landing-laravelAngular-subtitle {
  color: #535362;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 300;
}

.DemoCode {
  font-family: "Lucida Console", Monaco, monospace;
  overflow: auto !important;
  padding: 10px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 80%;
  margin: 30px auto 100px;
  text-align: left;
  padding-left: 20px;
  font-size: 14px;
}

.DemoCode-highlight {
  color: #DD4A68;
}

.DemoCode-comment {
  color: #888888;
}

.DemoCode-operator {
  color: #888888;
}

.DemoCode-string {
  color: #690;
}

.DemoCode-secondary {
  color: #07A;
}

.Landing-features {
  text-align: center;
  margin: 60px 10px;
}

.Landing-featuresMainTitle {
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 15px;
  color: #21455B;
}

.Landing-featuresMainDescription {
  width: 70%;
  margin: 0 auto 30px;
  color: #535362;
  font-weight: 300;
}

.Landing-featuresEntry {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  margin: 40px auto 20px;
}

.Landing-featuresEntry-icon {
  height: 100%;
}

.Landing-featuresTitle {
  color: #21455B;
  letter-spacing: -1px;
  margin-top: 40px;
}

.Landing-featuresDescription {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 300;
  color: #535362;
}

.Landing-featuresEntry--restful {
  background-color: #00A4C6;
}

.Landing-featuresEntry--jwt {
  background-color: #EF704D;
}

.Landing-featuresEntry--generators {
  background-color: #25C0CC;
}

.Landing-featuresEntry--restful md-icon {
  width: 100px;
}

.Landing-featuresEntry--jwt md-icon {
  width: 80px;
}

.Landing-featuresEntry--generators md-icon {
  width: 80px;
}

/*
This is a terrible temporary hack,
to fix layout issues with flex on iOS (chrome & safari)
Make sure to remove this when you modify this demo
*/
@media only screen and (max-width: 950px) {
  .iOS-hack .flex-100,
  .iOS-hack .flex-50,
  .iOS-hack .flex-33 {
    flex: none !important;
  }
}

.dataTables_filter {
  float: right;
}

.dataTables_filter input {
  margin: 0px 5px 0px 5px;
}

.dataTables_paginate {
  float: right;
}

.dataTables_paginate .pagination {
  margin: 0px;
}

#main-content {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.product-list .img-thumb {
  max-width: 100px;
  max-height: 100px;
}

.form-group .chosen-container {
  width: 100% !important;
  margin-bottom: 1rem;
}

.pagination {
  margin: 0px;
}

.treeview-menu .divider {
  border-bottom: 1px solid #41575f;
  margin-left: 15px !important;
}

.thumb-img-list-item {
  max-height: 80px;
  max-width: 80px;
}

.no-border-radius {
  border-radius: 0px !important;
}

.Login-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}


.Register-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.ResetPassword-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.Login-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

/*# sourceMappingURL=app.css.map */
